<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="qaLmBaHARfSR6ueecUyujy2xvRqwVBkrPWrqoi10k0s" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Oleks Consulting" %></title>
    <%= partial 'partials/favicon' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag "site" %>
    <%= partial 'partials/inspectlet' %>
  </head>
  <body class="<%= yield_content :body_class %>">
    <% if !current_page.data.header_text.nil? %>
      <%= partial 'partials/header_private', locals: {
        header_text: current_page.data.header_text
      } %>
    <% else %>
      <%= partial 'partials/header' %>
    <% end %>
    <%= yield %>
    <%= partial 'partials/footer' %>
    <%= partial 'partials/ga' %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
